.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.head-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(36, 110, 160, .32);
  background-image: linear-gradient(150deg, #17304b, rgba(20, 110, 207, .7)), url('../images/active-adult-assessing-1449050.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
}

.grid {
  padding-right: 263px;
  -ms-grid-columns: 18fr;
  grid-template-columns: 18fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block {
  position: static;
  left: 3px;
  right: -12px;
  display: block;
  overflow: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.heading {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
  font-size: 80px;
  line-height: 80px;
}

.paragraph {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
}

.body {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.register-button {
  margin-left: 17px;
  border-radius: 5px;
  font-weight: 700;
}

.button-2 {
  margin-top: 5px;
  padding-right: 23px;
  padding-left: 22px;
  border-radius: 5px;
  background-color: #fff;
  color: #3898ec;
  font-weight: 700;
}

.navbar-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.image-2 {
  display: block;
  margin-left: 0px;
}

.features {
  margin-top: 38px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container-2 {
  margin-left: 0px;
}

.feature-image {
  position: static;
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.feature-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 22px;
  color: #000;
  font-size: 80px;
  line-height: 85px;
  font-style: normal;
  text-align: center;
}

.feature-text {
  margin-bottom: -397px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

.body-2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.section {
  min-height: 100vh;
}

.grid-4 {
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.columns {
  display: block;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 93%, .04)), to(hsla(0, 0%, 100%, 0)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 93%, .04), hsla(0, 0%, 100%, 0));
}

.heading-body {
  margin-top: -5px;
  margin-bottom: 77px;
  padding-top: 41px;
  padding-bottom: 0px;
  color: #000;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
}

.image-4 {
  border-radius: 250px;
  box-shadow: 0 0 6px 0 #000;
}

.block-quote-2 {
  margin-right: -193px;
  margin-left: 90px;
  padding-right: 0px;
  padding-left: 24px;
  color: #000;
  font-size: 35px;
  line-height: 45px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.testimonial {
  margin-top: 152px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background-image: linear-gradient(180deg, #f8f8f8, #f8f8f8);
}

.photo-grid {
  margin-bottom: 90px;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-3 {
  margin-top: 157px;
}

.image-5 {
  max-width: auto;
}

.container-4 {
  margin-top: 0px;
}

.section-2 {
  display: block;
  max-width: 75%;
  margin-top: 349px;
  margin-right: auto;
  margin-left: auto;
}

.grid-6 {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-column-gap: 139px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.form-label {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.field-label-3 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.text-field-2 {
  border-radius: 15px;
}

.text-field-3 {
  border-radius: 15px;
}

.form-box {
  border-radius: 15px;
}

.button-3 {
  margin-left: 17px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(180deg, #000, #000);
}

@media (max-width: 991px) {
  .head-main {
    height: auto;
    min-height: 100vh;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .image-2 {
    margin-left: 0px;
  }
  .container {
    overflow: visible;
    clear: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }
  .features {
    height: auto;
    min-height: 100vh;
  }
  .feature-image {
    max-width: 100%;
  }
  .feature-heading {
    margin-top: 5px;
    font-size: 50px;
    line-height: 50px;
  }
  .feature-text {
    margin-bottom: 24px;
    padding-top: 0px;
    font-size: 25px;
  }
  .section {
    max-height: 100vh;
  }
  .columns {
    margin-top: 81px;
    margin-bottom: 54px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .columns-2 {
    display: block;
  }
  .column-2 {
    margin-top: -51px;
    margin-bottom: 22px;
  }
  .heading-body {
    font-size: 75px;
  }
  .image-4 {
    max-width: 50%;
    border-radius: 360px;
  }
  .block-quote-2 {
    margin-right: 16px;
    margin-left: 26px;
    padding-top: 21px;
    padding-right: 67px;
    padding-left: 0px;
    color: #000;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
  }
  .testimonial {
    margin-top: 246px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
    background-image: linear-gradient(180deg, #f8f8f8, #f8f8f8);
  }
  .grid-6 {
    margin-top: -180px;
    padding-top: 0px;
    grid-column-gap: 55px;
  }
}

@media (max-width: 767px) {
  .image-2 {
    max-width: 50%;
    margin-left: 0px;
  }
  .container {
    padding-left: 15px;
  }
  .feature-image {
    max-width: 100%;
  }
  .feature-text {
    padding-top: 0px;
  }
  .heading-body {
    font-size: 60px;
  }
  .image-4 {
    max-width: 100%;
  }
  .block-quote-2 {
    margin-left: -10px;
    padding-right: 14px;
    padding-left: 9px;
    color: #000;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
  }
  .testimonial {
    margin-top: 154px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa));
    background-image: linear-gradient(180deg, #fafafa, #fafafa);
  }
  .photo-grid {
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .section-2 {
    margin-top: 145px;
  }
  .grid-6 {
    margin-top: -89px;
    grid-column-gap: 32px;
  }
}

@media (max-width: 479px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .heading {
    margin-left: 21px;
    font-size: 60px;
  }
  .paragraph {
    margin-left: 20px;
  }
  .button-2 {
    margin-left: 19px;
  }
  .image-2 {
    display: inline;
    max-width: 50%;
    margin-right: auto;
    margin-left: 0px;
  }
  .container {
    padding-left: auto;
  }
  .brand {
    padding-left: 0px;
  }
  .feature-image {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .feature-heading {
    padding-bottom: 0px;
    font-size: 250%;
    line-height: 90%;
    text-align: center;
  }
  .feature-text {
    margin-top: -33px;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 125%;
  }
  .heading-body {
    margin-top: 55px;
    font-size: 45px;
  }
  .image-4 {
    max-width: 50%;
  }
  .block-quote-2 {
    margin-left: 27px;
    color: #000;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
  }
  .testimonial {
    margin-top: 71px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fcfcfc));
    background-image: linear-gradient(180deg, #fcfcfc, #fcfcfc);
  }
  .photo-grid {
    display: none;
  }
  .section-2 {
    margin-top: 80px;
  }
  .grid-6 {
    margin-top: -45px;
    grid-column-gap: 17px;
  }
}

#w-node-2e9732a11ba8-cc2d48c4 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-2e9732a11ba8-cc2d48c4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

#w-node-2d1c9dbcaf46-cc2d48c4 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-2d1c9dbcaf46-cc2d48c4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-9bd33afc5058-cc2d48c4 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-9bd33afc5058-cc2d48c4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-26370d3923b1-cc2d48c4 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-26370d3923b1-cc2d48c4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-73dc8bc0511c-cc2d48c4 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-df1bd353af51-cc2d48c4 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-19af043e4b6d-cc2d48c4 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-42230ce73d81-30ae769b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-aafe958f74bc-30ae769b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-96bea4b3b95d-30ae769b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 479px) {
  #w-node-96bea4b3b95d-30ae769b {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-aafe958f74bc-8e1b8b7f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-0da204d56c39-8e1b8b7f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-96bea4b3b95d-8e1b8b7f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 479px) {
  #w-node-96bea4b3b95d-8e1b8b7f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}